n8n-workflows/sync-monitoring-hub.json
{
  "name": "Sync & Monitoring Hub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "e4f8a1b2-3001-4000-8000-000000000001",
      "name": "Hourly Sync Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-3002-4000-8000-000000000002",
      "name": "Get Connected Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-accounts",
              "leftValue": "={{ $json.accounts?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e4f8a1b2-300e-4000-8000-000000000010",
      "name": "Has Accounts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "accounts",
        "options": {}
      },
      "id": "e4f8a1b2-3003-4000-8000-000000000003",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/accounts/{{ $json.id }}/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-3004-4000-8000-000000000004",
      "name": "Test Account Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/{{ $env.META_GRAPH_API_VERSION || 'v23.0' }}/{{ $('Split Accounts').item.json.credentials?.page_id || $('Split Accounts').item.json.app_id }}/insights?metric=page_impressions,page_engagements,page_fan_adds&period=day&access_token={{ $('Split Accounts').item.json.credentials?.access_token }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e4f8a1b2-3005-4000-8000-000000000005",
      "name": "Pull Graph API Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-3006-4000-8000-000000000006",
      "name": "Store Health Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Hourly Sync Trigger": {
      "main": [
        [
          {
            "node": "Get Connected Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Connected Accounts": {
      "main": [
        [
          {
            "node": "Has Accounts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Accounts?": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Accounts": {
      "main": [
        [
          {
            "node": "Test Account Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Account Health": {
      "main": [
        [
          {
            "node": "Pull Graph API Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Graph API Insights": {
      "main": [
        [
          {
            "node": "Store Health Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e4f8a1b2-3000-4000-8001-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "flowfyp-production"
  },
  "tags": [
    { "id": "meta-integration", "name": "Meta Integration" },
    { "id": "monitoring", "name": "Monitoring" }
  ]
}
