n8n-workflows/system-dispatcher.json
{
  "name": "System Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "system-dispatcher-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e4f8a1b2-4001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "system-dispatcher-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-action",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e4f8a1b2-400f-4000-8000-000000000009",
      "name": "Validate Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"Missing action field in request body.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "e4f8a1b2-400e-4000-8000-000000000008",
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 480]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "manual_outbound",
              "output": 0
            },
            {
              "value2": "retry_job",
              "output": 1
            },
            {
              "value2": "publish_post",
              "output": 2
            },
            {
              "value2": "send_message",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "e4f8a1b2-4002-4000-8000-000000000002",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [520, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/workflows/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"trigger_outreach\",\n  \"payload\": {{ JSON.stringify($json.body.payload || {}) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e4f8a1b2-4003-4000-8000-000000000003",
      "name": "Dispatch Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/retry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.body.payload?.id }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-4004-4000-8000-000000000004",
      "name": "Dispatch Retry Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/publish/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.payload || {}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-4006-4000-8000-000000000006",
      "name": "Queue Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/workflows/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"messenger_message\",\n  \"payload\": {{ JSON.stringify($json.body.payload || {}) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-4007-4000-8000-000000000007",
      "name": "Dispatch Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"dispatched\",\n  \"action\": \"{{ $('Action Router').item.json.body.action }}\",\n  \"success\": true,\n  \"dispatched_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "e4f8a1b2-4005-4000-8000-000000000005",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 340]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Action": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Dispatch Outreach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dispatch Retry Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Publish Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dispatch Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Outreach": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Retry Job": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Publish Post": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Send Message": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e4f8a1b2-4000-4000-8001-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "flowfyp-production"
  },
  "tags": [
    { "id": "meta-integration", "name": "Meta Integration" },
    { "id": "dispatcher", "name": "Dispatcher" }
  ]
}
